<panel class='front'> Front End Projects
    <ul class="projects">
        <li *ngFor="let project of frontEndProjects" [class.selected]="project === selectedProject" (click)="gotoDetail(project)">
            <span class="badge">{{project.id}}</span> {{project.title}}
        </li>
    </ul>
</panel>
<panel class='full'> Full Stack Projects
    <ul class="projects">
        <li *ngFor="let project of fullStackProjects" [class.selected]="project === selectedProject" (click)="gotoDetail(project)">
            <span class="badge">{{project.id}}</span> {{project.title}}
        </li>
    </ul>
</panel>
