<section *ngIf="project" class="jumbotron">
	<p>{{project.description}}</p>
	<p *ngIf="project.image"> Click the image to visit {{project.title}} </p>
	<a [href]="project.url"> <img *ngIf="project.image" [src]="project.image" alt="img" width="400px" /></a>
	<span>
		<a class="btn btn-primary btn-lg" [href]="project.code"> Code Repository</a>
	</span>
	<dl>
		<dt class="btn btn-info btn-lg">Tools: </dt>
		<dd class="btn btn-info btn-lg" *ngFor="let tool of project.tools"> {{tool}} </dd>
	</dl>
</section>
